<p>material-input works!</p>
<div class="m-5 border p-3">
  <div class="row">
    <div class="col-5">
        <form class="example-form">
          <div class="d-flex row">
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
                <mat-label>Member First Name</mat-label>
                <input matInput [formControl]="nameFormControl" placeholder="Enter Your First Name">
                <mat-error *ngIf="nameFormControl.hasError('required')">
                   Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
                <mat-label>Member Last Name</mat-label>
                <input matInput [formControl]="lastNameFormControl" placeholder="Enter Your Last Name">
                <mat-error *ngIf="lastNameFormControl.hasError('required')">
                  Last Name is <strong>required</strong>
               </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="d-flex row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
                <mat-label>designation</mat-label>
                <input matInput [formControl]="designationFormControl" placeholder="Enter Your Designation">
                <mat-error *ngIf="designationFormControl.hasError('required')">
                  Designation is <strong>required</strong>
               </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="d-flex row">
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
                <mat-label>Mobile Number</mat-label>
                <input matInput [formControl]="mobileFormControl" placeholder="Enter Your Mobile Number">
                <mat-error *ngIf="mobileFormControl.hasError('required')">
                  Mobile Number is <strong>required</strong>
               </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
              <input matInput [formControl]="dateFormControl" [matDatepicker]="picker">
              <mat-label>Date of Birth</mat-label>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <mat-form-field  appearance="fill">
                <mat-label >Gender</mat-label>
                <mat-select [formControl]="genderFormControl">
                  <mat-option *ngFor="let ele of genders" [value]="ele.value">
                    {{ele.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="genderFormControl.hasError('required')">
                 Gender is <strong>required</strong>
               </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-primary m-1" (click)="submit()">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>
