<!-- <div class="mat-elevation-z8 m-5">
  <table class="w-100" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <th class="fw-bold fs-6 text-dark" mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th class="fw-bold fs-6 text-dark" mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th class="fw-bold fs-6 text-dark" mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th class="fw-bold fs-6 text-dark" mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div> -->
<div class="mx-4 my-2">
  <button class="btn btn-primary" (click)="addCol()">Add Row</button>
</div>

<!-- <div class="mat-elevation-z8 m-5">
  <mat-table
  #table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  cdkDropListData="dataSource"
>
  <ng-container matColumnDef="position" sticky>
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span>{{element.position}}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag
    [cdkDragData]="row">
  </mat-row>

  </mat-table>
</div> -->

<div class="mx-4 my-3">

  <table mat-table
  cdkDropList #table="cdkDropList"
  [dataSource]="dataSource"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="dataSource"
  [cdkDropListConnectedTo]="[tabledual]" 
  class="mat-elevation-z8 col-6">
    <ng-container  [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" cdkDrag
    [cdkDragData]="row"></tr>
  </table>
</div>

<div class="mx-4 my-3">

  <table mat-table
  cdkDropList #tabledual="cdkDropList"
  [dataSource]="dataSource_dual"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="dataSource_dual" [cdkDropListConnectedTo]="[table]" class="mat-elevation-z8 col-6">
    <ng-container  [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" cdkDrag
    [cdkDragData]="row"></tr>
  </table>
</div>



