<div class="container-fluid">
  <div class="row border border-secondary p-2">
    <div class="col bg-secondary">
      <div>Hello 1 </div>
      <div>Hello 4 </div>
    </div>

    <div class="col">
      <div>Hello How are you?</div>
      <div>Hello How are you?</div>
    </div>

    <div class="col bg-secondary">
      <div>Hello 3</div>
      <div>Hello 6</div>
    </div>

    <div class="col">
      <div>Hello How are you?</div>
      <div>Hello How are you?</div>
    </div>

    <div class="col bg-secondary">
      <div>Hello 3</div>
      <div>Hello 6</div>
    </div>
  </div>

  <div class="row">
  <div class="col text-center alert alert-danger">Yuuppp...!</div>
  </div>

  <div class="row">
    <div class="col text-center alert alert-primary">
      test 345
    </div>
    <div class="col text-center">
      <div class="row">
        <div class="col alert alert-dark">346</div>
        <div class="col">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center alert alert-danger">Yeeeehhh...!</div>
  </div>

  <div class="row">
    <div class="col text-center">123456</div>
    <div class="col text-center">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary">Left</button>
        <button type="button" class="btn btn-outline-danger">Middle</button>
        <button type="button" class="btn btn-outline-primary">Right</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col text-center">yuiop</div>
    <div class="col text-center alert alert-danger">qwert</div>
    <div class="col text-center">qwert</div>
  </div>
  <div class="row">
    <div class="col text-center alert alert-primary">WWWW</div>
  </div>
</div>
