<!-- <h1>Fast HTTP Caching</h1>
<div *ngFor="let repo of repos|async">
  <h2>{{repo.name}}</h2>
  <div>{{repo.description|json}}</div>
</div> -->
<div class="container">
  <div>
    <h4>Custom Theme</h4>
    <a href="https://github.com/NileshPatel17/ng-multiselect-dropdown"
      >Github Code</a
    >
  </div>
  <div class="container">
    <div class="row">
      <div class="col" *ngIf="dropdownSettings" >
        <ng-multiselect-dropdown
          name="country"
          [placeholder]="'Select City'"
          [data]="countries"
          [(ngModel)]="selCountries"
          [settings]="dropdownSettings"
        >
          <ng-template
            #optionsTemplate
            let-item
            let-option="option"
            let-id="id"
            let-isSelected="isSelected"
          >
            <div
              style="
                padding: 1px 10px;
                margin-right: 10px;
                right: 2px;
                top: -2px;
              "
            >
              <img
                [src]="getItems[id].image"
                style="width: 18px; margin: 0 20px;"
              />
              <label
                style="color: #333; min-width: 130px; font-weight: normal;"
                [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getItems[id].isDisabled? 'lightgrey': ''}"
                >{{getItems[id].item_text}}</label
              >
            </div>
          </ng-template>
          <ng-template #optionSelectedTemplate let-option="option" let-id="id">
            <div>
              <img
                [src]="getItems[id].image"
                style="width: 18px; margin-right: 2px;"
              />
              {{option}}
            </div>
          </ng-template>
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
</div>
