<div class="m-4">
  <h2>Send Data from Child to Parent</h2>

  <div class="m-4">
    Send Name:<input class="mx-1" type="text" name="name" #name><br><br>

    Send Number:<input class="mx-1" type="number" name="number" #number><br><br>
    <button class="btn btn-danger" (click)="sendData()">Send Data</button>
  </div>

  <div  *ngIf="display">
    <h2>Send Data from Parent to Child</h2>
    <h3 class="m-4">{{reciveOBJ.email}}</h3>
  </div>

  <app-parent [sendObj]="sendObj"  (reciveObj)="reciveObjFromParent($event)"></app-parent>
</div>
