<h2>Form Details</h2>
<table>
  <th class="pr-2">Sr.</th>
  <th class="p-2">Name</th>
  <th class="p-2">Company Name</th>
  <th class="p-2">Mobile Number</th>
  <th class="p-2">Email</th>
  <th class="p-2">Action</th>

  <tr *ngFor="let data of forms| async; let i=index">
        <td>{{i+1}}</td>
        <td>{{data.name}}</td>
        <td>{{data.companyName}}</td>
        <td>{{data.mobileNumber}}</td>
        <td>{{data.email}}</td>
        <td><button class="btn btn-danger" (click)="deleteForms(i)">Delete</button></td>
  </tr>

</table>
