<div *ngIf="sendObj!=null && show">

  <table class="border">
    <thead class="thead-light">
      <tr>
        <th class="col-2 text-center">Name</th>
        <th class="col-2 text-center">Number</th>
      </tr>
    </thead>
    <tr>
      <td class="text-center">{{sendObj.name}}</td>
      <td class="text-center">{{sendObj.number}}</td>
    </tr>
  </table>

  <button class="btn btn-primary my-2" (click)="childToParent()">Chlid_To_Parent</button>
</div>


