<!--
File Created: Thursday, 15th September 2022 10:45:27 am
Author: Priyank Gondha (priyank.gondha@solutionanalysts.in)
-----
Last Modified: Monday, 10th October 2022 3:35:32 pm
Modified By: Priyank Gondha (priyank.gondha@solutionanalysts.in)
-----
Copyright - 2022 Solution Analysts
-->

<nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid">
    <!-- Links -->

    <ul class="navbar-nav">
      <li>
        <a class="navbar-brand text-bold" href="#">
          <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo">

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/table">Material Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dialog">Material Dialog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ngrx">NgRx Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bootstrap">Bootstrap Grid</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/input-output">Input Output</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/http-caching">Http-Caching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bookstore">Book Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/file-upload">File Upload</a>
      </li>
    </ul>
  </div>

</nav>


<!--
<app-material></app-material><br><br>
<app-material-dialog></app-material-dialog>

<app-material-table></app-material-table>
<app-material-input></app-material-input> -->



<!-- <app-bootstap></app-bootstap> -->
<router-outlet></router-outlet>

