




<button class="btn btn-primary m-2" (click)="openTempDialog()">Open Temp Modal</button>

<button class="btn btn-primary m-2" (click)="openCompDialog()">Open Comp Modal</button>

<div class="border m-3 border-2 p-4 rounded border-dark col-3" *ngIf="getRes2==true">
    <h4 class="p-1">Name:{{responce.data.Name}}</h4>
    <h4 class="p-1">LastName:{{responce.data.LastName}}</h4>
    <h4 class="p-1">Email:{{responce.data.Email}}</h4>
    <h4 class="p-1">Gender:{{responce.data.Gender}}</h4>
    <h4 class="p-1">Designation:{{responce.data.Designation}}</h4>
    <h4 class="p-1">MobileNumber:{{responce.data.MobileNumber}}</h4>
</div>






<ng-template #dialogRef let-mydata>
  <h5>Hi I am Template Dialog following Foo list:</h5>
  <ul *ngIf="mydata">
    <li *ngFor="let item of mydata">{{item}}</li>
  </ul>
  <button mat-button mat-dialog-close="I am from dialog land...">Close</button>
</ng-template>
