<h1 class="mx-2">Form</h1>
<div class="mx-2">
  <div class="ml-2">
    Name:<br><input class="my-2" type="text" placeholder="name" #name><br>
    Company Name:<br><input class="my-2" type="text" placeholder="companyName" #companyName><br>
    Mobile:<br><input class="my-2" type="number" placeholder="mobile number" #mobile><br>
    Email:<br><input class="my-2" type="email" placeholder="email" #email><br>

    <button class="btn btn-primary" (click)="addForm(name.value,companyName.value,mobile.value,email.value)">Submit</button>
  </div>
</div>
