<!-- <h5>Hi I am Component Dialog following Foo list:</h5>
<ul *ngIf="mydata">
  <li *ngFor="let item of mydata">{{item}}</li>
</ul>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" #matStartDate>
      <input matEndDate placeholder="End date"  #matEndDate (dateChange)="dateRangeChange(matStartDate, matEndDate)">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>

<button class="btn btn-danger m-2" (click)="closeDialog()">Close</button>
<button class="btn btn-primary m-2" (click)="addData()">Add Obj</button> -->

<h1 class="text-center">Form</h1>
<div class="m-5 border p-3">
  <div class="row">
    <div class="col-5">
        <form [formGroup]="form"  (ngSubmit)="submit(form)" class="example-form">
          <div class="d-flex row">
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
                <mat-label>Member First Name</mat-label>
                <input matInput formControlName="nameFormControl" placeholder="Enter Your First Name">
                <mat-error *ngIf="form.controls['nameFormControl'].errors?.['required']">
                   Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
                <mat-label>Member Last Name</mat-label>
                <input matInput formControlName="lastNameFormControl" placeholder="Enter Your Last Name">
                <mat-error *ngIf="form.controls['lastNameFormControl'].errors?.['required']">
                  Last Name is <strong>required</strong>
               </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="d-flex row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="form.controls['emailFormControl'].errors?.['email'] && !form.controls['email'].errors?.['required']">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="form.controls['emailFormControl'].errors?.['required']">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
                <mat-label>designation</mat-label>
                <input matInput formControlName="designationFormControl" placeholder="Enter Your Designation">
                <mat-error *ngIf="form.controls['designationFormControl'].errors?.['required']">
                  Designation is <strong>required</strong>
               </mat-error>
              </mat-form-field>
            </div>
          </div>
          <br>
          <div class="d-flex row">
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
                <mat-label>Mobile Number</mat-label>
                <input matInput formControlName="mobileFormControl" placeholder="Enter Your Mobile Number">
                <mat-error *ngIf="form.controls['mobileFormControl'].errors?.['required']">
                  Mobile Number is <strong>required</strong>
               </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width p-1" appearance="fill">
              <input matInput formControlName="dateFormControl" [matDatepicker]="picker">
              <mat-label>Date of Birth</mat-label>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <mat-form-field  appearance="fill">
                <mat-label >Gender</mat-label>
                <mat-select formControlName="genderFormControl">
                  <mat-option *ngFor="let ele of genders" [value]="ele.value">
                    {{ele.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['genderFormControl'].errors?.['required']">
                 Gender is <strong>required</strong>
               </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-primary m-1" type="submit">Submit</button>
          </div>
        </form>
    </div>
  </div>
</div>

