<div class="container mt-2">
  <div class="row m-2">
    <div class="col col-md-4 offset-md-4">
      <a routerLink="/bookstore/add" class="btn btn-secondary">Add A New Book</a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let book of books$ | async">
      <div class="card">
        <!-- <img src="/assets/book.png" class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <h5 class="card-title">Book: {{ book.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Author Name: {{ book.author }}</li>
          <li class="list-group-item">Cost: ${{ book.cost }}</li>
        </ul>
        <div class="card-body  m-1">
          <a [routerLink]="['/bookstore/edit', book.id]" class="btn btn-primary"
            >Edit Book</a
          >
          <button class="btn btn-danger m-1" (click)="openDeleteModal(book.id)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are sure to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>
